/* 
Right-navigation layout forms CSS
*/

/*
h1 tag
*/
.form-header {
    color: #000 !important;
    padding-bottom: 20px !important;
}

/* h1, h2, h3, h4, h5, h6 tags */
.form-header,
.form-sub-header-h2, 
.form-sub-header-h3,
.form-sub-header-h4,
.form-sub-header-h5,
.form-sub-header-h6 {
    color: rgb(var(--theme));
  	padding-bottom: 10px;
}

/*
Thank you message
*/
.success-message {
    width: 100%;
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    margin-bottom: 20px;
    padding: 10px 20px;
}

/*
Form row
*/
.right-navigation-form .form-row {
    width: 100%;
    margin-bottom: 20px;
}

/*
Label for text, email, date, select
*/
.right-navigation-form label {
    display: inline-block;
    font-size: 18px;
}
/*
Form p label for checkbox and radio inputs
*/
.right-navigation-form .label {
    margin-bottom: -1px;
}

/*
Inline checkbox, radio
*/
.right-navigation-form .in-form-row label {
    display: inline-block;
}
.right-navigation-form .in-form-row input {
    display: inline-block;
}

/*
Style for * (required fields)
*/
.right-navigation-form label span, 
.right-navigation-form p span {
    color: rgb(var(--theme));
}

/*
input: text
input: email
input: date
*/
.right-navigation-form input[type="text"], 
.right-navigation-form input[type="email"], 
.right-navigation-form input[type="date"],
.right-navigation-form input[type="password"] {
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 20px;
    border: 1px solid rgb(var(--theme));
}

/*
input: file
*/
.right-navigation-form input[type="file"] {
  	display: block;
  	width: 100%;
  	border: 1px solid rgb(var(--theme));
}

/*
Submit button
*/
.right-navigation-form input[type="submit"] {
    display: block;
    width: 190px;
    height: 50px;
    color: #fff;
    background-color: rgb(var(--theme));
    border: none;
    font-size: 1.125rem;
    font-weight: 700;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.right-navigation-form input[type="submit"]:hover {
    background-color: #e9eaeb;
    color: #000;
}

/*
select dropdown
*/
.right-navigation-form select {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid rgb(var(--theme));
}

/*
textarea
*/
.right-navigation-form textarea {
    display: block;
    width: 100%;
    height: 120px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(var(--theme));
}

/* Full width button, info box button, and accordion button */
.full-width-button, .info-box-button {
  display: inline-block;
  color: #fff;
  background-color: #326295;
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 1rem 2.75rem;
}

.full-width-button {
  width: 100%;
}

.info-box-button {
  width: 210px;
}

.full-width-button:hover, .info-box-button:hover {
  background-color: #e9eaeb;
  color: #000;
}

.accordion-button {
  display: inline-block;
  width: 210px;
  color: #fff !important;
  background-color: transparent;
  font-size: 1.125rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
  border: 0.25rem solid rgb(255, 255, 255);
  border: 0.25rem solid rgb(var(--white));
  box-sizing: border-box !important;
  box-shadow: none !important;
}

.accordion-button:hover {
  color: #000 !important;
  background-color: #fff !important;
}


/* Right navigation alert */
.red-alert {
  display: block;
  width: 100%;
  padding: 0 20px;
  font-size: 18px;
  color: #721c24;
  border: 1px solid #f5c6cb;
  background-color: #f8d7da;
}
.green-alert {
  display: block;
  width: 100%;
  padding: 0 20px;
  font-size: 18px;
  color: #155724;
  border: 1px solid #c3e6cb;
  background-color: #d4edda;
}
.yellow-alert {
  display: block;
  width: 100%;
  padding: 0 20px;
  font-size: 18px;
  color: #856404;
  border: 1px solid #ffeeba;
  background-color: #fff3cd;
}
.blue-alert {
  display: block;
  width: 100%;
  padding: 0 20px;
  font-size: 18px;
  color: #004085;
  border: 1px solid #b8daff;
  background-color: #cce5ff;
}

/* Webinar Content Type */
.webinar__item {
  width: 100%;
  margin: 2rem 0;
  padding: 20px;
  border-top: 0.0625rem solid rgb(var(--theme));
  border-bottom: 0.0625rem solid rgb(var(--theme));
}
.webinar__content {
  font-size: 1rem;
  line-height: 1.425;
}
.webinar__content h2 {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 1.2rem;
}
.webinar__content p {
  margin: 0;
  padding: 0;
}







